.input:focus {


}

.input {
    width: 100%;
    height: 100%;
    padding: 0 10px;
}

.inputWrapper {
    width: 372px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    position: relative;
}

.superInput {
    width: 100%;
    height: 100%;

}

.errorInput {
    border: 2px solid #CC1439;
    border-radius: 5px;

}

.errorInput:focus {

}

.error {
    position: absolute;
    top: -15px;
    left: 0;
    color: #CC1439;
    font-size: 10px;
    font-family: 'Montserrat';

}
