.radio {
    width: 20px;
    height: 20px;
}

.radio::before {
}


.radio:checked::before {
}

.label {
    display: flex;
    align-items: center;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 21px;
}
.span {
    padding-left: 12px;
}