.spanBlock {
    display: flex;
    align-items: center;
    gap:11px ;
}

.span {


}

.input {
    position: absolute;
    color: #000;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 500;
}

.pen {
}