.button {
}

.disabled {
    background: gray;
}

.secondary {
    background-color: purple;
}

.default {
    background-color: lightblue;
}

.red {
    background-color: tomato;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
